@charset "utf-8"; 
   
body {
    background: linear-gradient(90deg, #a19b90 1%, #8f8166 35%, #63563f 100%);
    
}

main ul {
	margin: auto auto 150px auto;
	font-family: Verdana, Geneva, Tahoma, sans-serif; /*web-safe font stack */
} 


nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

nav li {
  float: left;
}

nav li a {
  display: block;
  color: ;
  text-align: center;
  padding: 14px 5px 16px 5px;
  text-decoration: none;
  color: black;
}

nav li a:hover {
  background-color: #bbb09b;
  color: black;
}

main{
   margin-left: 3%;
}        
.banner{
    background: linear-gradient(to right, #382809 1%, #382302  35%,  #1b1304 100%); 
    padding: 20px;
    margin: auto auto 3px auto;
    width: 100%;
}

.bottom{
    background: linear-gradient(to right,  #382809 1%, #382302  35%,  #1b1304 100%); 
    padding: 5px;
    margin: auto auto 3px auto;
    width: 100%;
}

p {
    margin: auto auto auto 700px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;	
}

p a {
	text-decoration: none;
    color: #000000;
}

#footer {
	display: block;
    font-size:larger;
    margin-left: 35%;
    /font-family: Verdana, Geneva, Tahoma, sans-serif; 
}

.gallery {
  margin: auto;  
}